<h1>Tasks</h1>
<hr>
<div>
    <ul>
        <li *ngFor="let task of tasksList">
            <a [routerLink]="['/details', task.id]">{{task.name}}</a>
            <br>
            <button class="delete" title="delete task" (click)="delete(task)">Delete</button>
        </li>
    </ul>
</div>
<hr>
<h3>Add A New Task</h3>
<p>*All Fields Required*</p>
<form (ngSubmit)="newJob()">
    <div>
        <label for="name">Job Name: </label>
        <input type="text" placeholder="Job Name" name="name" required [(ngModel)]="newTask.name">
    </div>
    <div>
        <label for="description">Job Description: </label>
        <input type="text" placeholder="Description" name="description" required [(ngModel)]="newTask.description">
    </div>
    <div>
        <label for="itemsNeeded">Items Needed: </label>
        <input type="text" placeholder="Items Needed" name="itemsNeeded" required [(ngModel)]="newTask.items_needed">
    </div>
    <div>
        <label for="timeToComplete">Time To Complete: </label>
        <input type="text" placeholder="Time To Complete" name="timeToComplete" required
            [(ngModel)]="newTask.time_to_complete">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>